body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0eee5;
}

.mobile-frame {
    width: 360px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0eee5;
}

.board-header {
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0eee5;
    z-index: 50;
}

.logo {
    width: 40px;
    height: auto;
}

h2 {
    margin-top: 18px;
    font-size: 20px;
    flex-grow: 1;
}

.date-range-select {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.date-range-select input {
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.generate-report-btn {
    margin: 20px auto;
    padding: 12px;
    background-color: #759e68;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    width: 80%;
}

.generate-report-btn:hover {
    background-color: #78a77d;
}

/* 보고서 상태 박스 */
.status-box {
    background-color: white;
    width: 50%;
    margin: 50px auto;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.status-box p {
    font-size: 14px;
    margin-bottom: 15px;
}

.download-btn {
    padding: 12px;
    background-color: #759e68;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    width: 80%;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #78a77d;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 45px;
    background-color: white;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    font-size: 12px;
    z-index: 99;
}

.nav-item {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    color: #777;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.nav-item.active {
    color: black;
    background-color: #e0e0e0;
}